enable-pre-post-scripts=true
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver